.profile {
  width: fit-content;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;

  background-color: aliceblue;
  border: 2px solid rgb(144, 164, 184);
  border-radius: 8px;
  box-shadow: 0px 2px 6px gray;

  overflow: hidden;
}

.description {
  padding: 32px 24px;

  text-align: center;
}

.avatar {
  margin: 0 auto;
  padding: 8px;
  height: 132px;

  border-radius: 50%;
  background-color: rgb(144, 164, 184);
}

.name {
  margin-top: 24px;
  font-size: 24px;
  font-weight: 700;
}

.tag {
  margin-top: 4px;

  font-size: 16px;
  color: gray;
}

.location {
  margin-top: 4px;

  font-size: 16px;
  color: gray;
}

.stats {
  display: flex;
  justify-content: space-between;
  padding: 28px 24px;

  background-color: rgb(144, 164, 184);
}

.stats > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 90px;
  width: calc(100% / 3);

  border-radius: 4px;
}

.label {
  font-size: 16px;
}

.quantity {
  margin-top: 8px;

  font-size: 18px;
  font-weight: 700;
  color: rgb(10, 60, 100);
}
