.friendList {
  display: flex;
  gap: 20px;
  padding: 32px 24px;
  width: 600px;
  height: fit-content;

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  background-color: aliceblue;
  border: 2px solid rgb(155, 175, 200);
  border-radius: 8px;
  box-shadow: 0px 2px 6px gray;

  overflow: hidden;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding: 14px 12px;
  width: calc((100% - 12px * 4) / 5);

  border-radius: 16px;
  background-color: rgb(155, 175, 200);
}

.status {
  display: block;
  width: 14px;
  height: 14px;

  background-color: brown;
  border-radius: 50%;

  animation: StatusJump 1000ms cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation-play-state: paused;
}

.status.online {
  background-color: green;

  animation-play-state: running;
}

.name {
  font-size: 18px;
  font-weight: 700;
  color: rgb(10, 60, 100);
}

@keyframes StatusJump {
  0% {
    transform: scale(1);
    text-rendering: initial;
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
