.statistics {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 32px 24px;
  align-items: center;
  width: 600px;
  height: fit-content;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;

  background-color: aliceblue;
  border: 2px solid rgb(155, 175, 200);
  border-radius: 8px;
  box-shadow: 0px 2px 6px gray;

  overflow: hidden;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.statList {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px 12px;
  width: calc((100% - 12px * 4) / 5);

  border-radius: 16px;
}

.label {
  font-size: 16px;
}

.percentage {
  margin-top: 8px;

  font-size: 18px;
  font-weight: bold;
  color: rgb(10, 60, 100);
}
